body{background-color: rgb(50,50,50);}
 
  #wrap{ text-align: center;}
      .logo1 a::before{
        content:'';
        background-image: url(img/icons.png);
        background-repeat: no-repeat;
        background-position:0px -136px;
      }
    /*  
      .logo1 a{
        width: 120px;
        height: 40px;
        font-size:0;
      }*/
    header{background-color:#191919;}  
        #gnb::before{
          content:'';
          width:32px;
          height: 22px;
          background-image: url(img/icons.png);
          background-repeat: no-repeat;
          font-size:0;          
        }
        nav{display: none;} /*임시*/
        .search_send1{
          width: 26px;
          height: 30px;
          background-image:url(img/icons.png);
          background-repeat: no-repeat;
          background-position: -100px 0px;
          font-size:0;
        }
        #bread{background-color: rgba(0,0,0,0.4);}
        #bread>p{
          text-align: left;
          color: #a4a4a4;}
    article{width: 100%;}
      .menu_title{color:#fff;}
      .menu_title>span{font-weight: bold;}
      .menu_explain{color:#808080;}
    #main{
      background-image: url(img/main_cover.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
    }

      #productSearch select{
        background-color:transparent;
        border:0;
        color:#fff;
      }
      #productSearch input{
        background-color:transparent;
        border:0;
      }
        .search_send2{
          width: 26px;
          height: 32px;
          background-image:url(img/icons.png);
          background-repeat: no-repeat;
          background-position: -100px -26px;
          font-size:0;          
        }

      .recent_item>p{color:#fff;}

      .topics_item>a{
        position: relative;
        width:  360px;
        height: 300px;
      }
      .topics_item>a::before{
        content: '';
        position: absolute;
        width:  70px; 
        height: 86px;
        background-image: url(img/icons.png);
        background-repeat: no-repeat;
        }
      .topics_item:first-child>a::before{
        background-position: -236px -124px;
        /*Error Codes*/
      }
      .topics_item:nth-child(2)>a::before{
        background-position: -307px -124px;
       /*Service Guide*/
      }
     .topics_item:nth-child(3)>a::before{
        background-position: -384px -124px;
        /*Parts Catalog*/
      }
     .topics_item:nth-child(4)>a::before{
        background-position: -464px -124px;
        /*Sypmtoms*/
      }
     .topics_item:nth-child(5)>a::before{
        background-position: -542px -124px;
        /*Product Info*/
      }
     .topics_item:last-child p{
        background-position: -614px -124px;
        /*FAQ*/
      }

    #recent>button{
      width:  34px;
      height: 52px;
      background-image:url(img/icons.png);
      background-repeat:no-repeat;
    }
      .prev{
        background-position: -194px -70px;
      }
      .prev:hover{
        background-position: -266px -70px;
      }
      .next{
        background-position: -230px -70px;
      }
      .next:hover{
        background-position: -302px -70px;
      }

    footer{background-color:#000;}
      #footerNav{background-color:#1f1f1f;}
      #footerNavMenu>li>p{color:#fff;}
        .footer_nav_menu2>li>a{color:#808080;}
        .footer_nav_menu2>li>a:hover{
          text-decoration: underline;
          color: #0099ff;
        }

        .search_send3{
          width: 18px;
          height: 18px;
          background-image:url(img/icons.png);
          background-repeat: no-repeat;
          background-position: -132px -6px;
        }
        #followUs{
          position: relative;
          color:#fff;
          }
          #sns{
            width: 50%;
            height: 16px;            
            position: absolute;
            top:0;
            left: 40%;
            margin:0 0 0 50px;
            } 
          #sns>li{
            width: 20%;
            display: inline-block;
          }  
          #sns>li>a{
            width:inherit;
            position: relative;
            font-size:0;
          }  
          #sns>li>a::before{
            content:'';
            width: 20px;
            height: 20px;
            position: absolute;
            top:0;
            left:33.3%;
            background-image:url(img/icons.png);
          }
            .facebook::before{
              background-position: -164px 0px;
            }
            .twitter::before{
              background-position: -184px 0px;
            }
            .youtube::before{
              background-position: -210px -5px;
            }
            .pinterest::before{
              background-position: -238px 0px;
            }
            .etc::before{
              background-position: -260px 0px;}

/*mobile*/
@media only screen and (min-width: 320px){
    #panelHeader{height: 45px;}
    #bread{height: 26px;}
}
@media only screen and (min-width: 566px) {
      #panelHeader{height: 90px;}
      #bread{height: 52px;}
}
