body{
  width: 100%;
  background-color: rgb(50,50,50);}
  #wrap{width: 100%;}
    article{width: 100%;}
    #main{
      background-image: url(img/main_cover.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
    }
