body{
  width: 100%;
  background-color: rgb(50,50,50);}
  #wrap{
    width: 100%;
   text-align: center;}
          .nav_menu2 li{font-size: 9px;}
    article{width: 100%;}
    #main{
      background-image: url(img/main_cover.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
    }
      .menu_title{color:#fff;}
      .menu_title>span{font-weight: bold;}
      .menu_explain{color:#808080;}
      .recent_item>p{color:#fff;}


      #footer_nav_menu>li>p{color:#fff;}
        .footer_nav_menu2>li>a{color:#808080;}
        .footer_nav_menu2>li>a:hover{
          text-decoration: underline;
          color: #0099ff;
        }