body{    
  font-family: 'Myriad pro','Malgun Gothic',dotum,sans-serif;
  }
h1,h2,p{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color:#fff;}
  a:hover{text-decoration: none;}
  a:visited{text-decoration: none;}
button{cursor: pointer; border:0; 
background-color:transparent; }
fieldset{border:0;}
legend{
  visibility: hidden; 
  overflow: hidden;
  text-indent: -100%;
  }
  .category_item>a, .topics_item>a{
    font-family: 'Noto Sans Korean','Malgun Gothic',dotum,sans-serif;color:#fff;
  }
  #sns>li:first-child{
      font-family: 'Noto Sans Korean','Malgun Gothic',dotum,sans-serif;color:#fff;  
  }